@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Habibi&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&display=swap');


.reveal h1 {
    font-family: 'Libre+Franklin', sans-serif;
    font-size: 2.2em;
  }

.reveal h2, {
    font-family: 'Domine';
}

.reveal h3 {
    font-family: 'Domine', sans-serif;
    font-size: 0.8em;
}

.reveal p, .reveal li, .reveal ul {
    font-family: 'Habibi', sans-serif;
    font-size: 0.7em;
}

.reveal a {
    color: #f47321;
}


.title code {
    color: #f47321;
}

h1 > code {
    color: #f47321 !important;
}

h2 > code {
    color: #f47321 !important;
}

.reveal .quarto-title-author-name {
    font-size: 0.7em;
  }

.reveal .quarto-title-affiliation {
    font-size: 0.6em !important;
}

