
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

h1 {
    font-family: "Bellefair";
    font-size: 3em;
    color: #1D594E;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1.title {
    font-family: 'Roboto';
    font-size: 1.5em;
    color: #191F40;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

h2 {
    font-family: 'Roboto';
    font-size: 1.3em;
    color: #277365;
}

p {
    font-family: 'Roboto';
    font-size: 1em;
    color: #333333e6;
}

code {
    font-size: 1em;
    color: #F29F05;
}

a {
    font-family: 'Roboto';
    font-size: 1em;
    color: #F28705;
}

a:hover {
    font-family: 'Roboto';
    font-size: 1em;
    color: #F23D3D;
}

code.sourceCode  {
    font-size: 1em;
    color: 1D594E;
}

code span.fu {
    font-size: 1em;
    color: #277365;
}

ul {
    font-family: 'Roboto';
    font-size: 1em;
    color: #333333e6;
}

li {
    font-family: 'Roboto';
    font-size: 1em;
    color: #333333e6;
}

.blockquote>:last-child {
    font-family: 'Bellefair';
    font-size: 2em;
    color: #F2CB05;
    background-color: #277365;
}